body {
    margin: 0px;
    padding: 0px;
}

#main-div {
    border: 1px solid lightblue;
    margin: 50px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#task {
    height: 60px;
    font-size: 40px;
    background-color: white;
    padding-top: 20px;
}

#tasks {
    color: #424242;
    margin-left: 100px;
}

#list {
    color: #00A5EC;
    margin-right: 2px;
}

#colordiv {
    padding-bottom: 100px;
    background-color: #F7F7F7;
}



#fafa-add {


    height: 50px;
    display: flex;
    justify-content: end;
    padding: 50px;

}
/* 3rd page layout start */
#fafa-back-add {


    height: 50px;
    display: flex;
    padding: 50px;
}
#back3 {
    position: relative;
    left: 400px;

}

    #fafa-plus3 {
        
        margin-right: 15px;
        position: relative;
        left:798px;
    }
    
    #fafa-task3 {
        
        margin-right: 60px;
        position: relative;
        left:800px;
    }

/* 3rd page layout end */

 #fafa-plus {
    margin-right: 15px;
}

#fafa-task {
    margin-right: 60px;
}

#add-task {
    position: relative;
    top: 10px;
}


#card-main {
    display: flex;
    margin: 135px;
    margin-top: 5px;
    flex-wrap: wrap;
}

/* for 3rd page */
#card-main3 {
    display: flex;
    margin: 135px;
    margin-top: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

/* for 3rd page end */

.cardbox {
    border: 0px solid red;
    border-radius: 10px;
    width: 360px;
    height: 360px;
    margin: 15px;
    box-shadow: 4px 4px 4px  gray, -4px -4px 4px grey;
    background-color: white;

}
.cardbox:hover {
    box-shadow: 6px 6px 6px gray, -6px -6px 6px grey ;
}
.box-head {
    font-size: 21px;
    margin: 34px;
    color:#00A5EC
    
}
.box-head a{
    text-decoration: none;
    color: #00A5EC
}

.form-box{
    padding: 30px;
}

#check {
    height: 30px;
    width: 30px;
}
.box-text {
    font-size: 20px;
    margin-left: 15px;
    position: relative;
    bottom: 10px;
    color: #424242;
}

.box-cut {
    font-size: 25px;
    margin-left: 15px;
    position: relative;
    bottom: 5px;
    color: #6f6f6f;
    text-decoration: line-through #6f6f6f;
}

.pageno {
    color: #777676;
    position: relative;
    bottom: 8px;
}


/* for page 2 */

.filter-page2 {
    filter: blur(3px);
}
.blur-page{
    filter: blur(3px);
}

#popup {
    height: 250px;
    width: 500px;
    border: 0px solid blue;
    border-radius: 15px;
    background-color: white;
    color: #424242;
    box-shadow: 4px 4px 4px black, -4px -4px 4px black;
    position: absolute;
    top: 35%;
    left: 30%;

}
#add-cross {
    height: 60px;
}
#popup-add {
    float: left;
    margin-left: 20px;
}
#popup-cross {
    float: right;
}

#popup-text {
    height: 20px;
    width: 450px;
    margin-top: 40px;
}
#popup-button {
    float: right;
    border: 0px;
    height: 25px;
    width: 100px;
    margin-top: 40px;
    margin-right: 40px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #00A5EC;

}
#popup-button a{
    text-decoration: none;
    color: white
}
.filter{
    filter: blur(2px);

}
#popup-button:hover {
    color: whitesmoke;
    
}
  /* @media mobile and (min-width: 320px) and (max-width:480px) {
    *{
       margin: 0px;
       padding: 0px;
    }
     
     #main-div{
        width: 400px;

     }
     #fafa-plus{
        display: none;
     }
     #fafa-task{
        margin-right: 330px;
     }
     #card-main{
        width:300px ;
        
        margin: 11px;
     }
     .cardbox{
        margin: 18px;

     }
    
    #popup{
        width: 215px;
    }
    #popup-text{
        width:180px ;


    }
    #fafa-back-add{
        margin-left: -379px;
    }
    #fafa-plus3{
        display: none;
     }
     #fafa-task3{
        margin-left: -320px;
     }
     #card-main3{
        width:300px ;
        
        margin: 11px;
     }
    } */
      @media screen and (min-width: 481px) and (max-width:720px) {

        *{
            margin: 0px;
            padding: 0px;
        }
        #main-div{
            width: 720px;
    
         }
         #fafa-plus{
            display: none;
         }
         #fafa-task{
            margin-right: 297px;
         }
         #card-main{
            width: 719px;
            margin-left: 144px;
         }
         #task{
            margin-left: 125px;
         }
        
         #popup{
            width: 400px;
        }
        #popup-text{
            width:200px ;
    
    
        }
        #fafa-back-add{
            margin-left: -270px;
        }
        #fafa-plus3{
            display: none;
         }
         #fafa-task3{
            margin-left: -200px;
         }
         #card-main3{
            width:360px ;
            
            margin: 188px;
         }  
        
    } 
